@charset "utf-8";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

//font-family: 'Noto Sans KR', sans-serif;
//font-family: "Poppins", "Noto Sans KR", "Apple SD Gothic", "Malgun Gothic", sans-serif;
* {
	cursor: none;
}

body {
	font-family: "Noto Sans KR", sans-serif;
	letter-spacing: -0.5px;
}

a {
	display: inline-block;
}

#popup {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0px;
	left: 0px;
	.inner {
		width: 400px;
		height: 200px;
		box-sizing: border-box;
		padding: 30px;
		border-radius: 15px;
		background-color: rgba(255, 255, 255, 1);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		p {
			font-size: 16px;
			color: #000;
		}
		i {
			font-weight: bold;
			font-size: 30px;
			margin-bottom: 10px;
		}

		a {
			position: absolute;
			bottom: 30px;
			right: 30px;
			display: block;
			width: 60px;
			height: 35px;
			line-height: 35px;
			border-radius: 5px;
			background-color: #000;
			color: #fff;
			text-align: center;
			font-size: 16px;
		}
	}
}

.cursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border: 1px solid #000;
	pointer-events: none;
	transition: width 0.3s, height 0.3s;
	z-index: 9;
	&.on {
		width: 25px;
		height: 25px;
		background-color: rgba(0, 0, 0, 0);
		border: 2px solid #fff;
	}
}

.profile {
	width: 100%;
	height: 100vh;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;


	.inner {
		width: 1200px;
		box-sizing: border-box;

		.greeting {
			font-size: 40px;
			font-weight: 700;
			margin-bottom: 50px;
			color: #fff;
			letter-spacing: -0.5px;
		}

		.profile_content {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.profile_imgbox {
				width: 35%;
				height: 450px;
				background-color: #333;
				border-radius: 15px;
				margin-right: 3%;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
				}
			}

			.profile_info {
				width: 62%;
				height: 500px;

				h2 {
					font-size: 34px;
					color: #fff;
					line-height: 1.7;
					margin-bottom: 20px;

					span {
						display: block;
						font-size: 18px;
						font-weight: normal;
						color: #ccc;
					}
				}

				article {
					width: 100%;
					box-sizing: border-box;
					padding: 20px 25px;
					border-radius: 10px;
					background-color: #111;
					margin-bottom: 25px;
					p {
						color: #fff;
						font-size: 22px;
						font-weight: 600;
						letter-spacing: 0px;
						line-height: 1.6;
						span {
							display: inline-block;
							padding-top: 10px;
							font-size: 18px;
							font-weight: normal;
							color: #ddd;
						}
					}
				}

				ul {
					li {
						color: #fff;
						font-size: 16px;
						margin-bottom: 25px;
						padding-left: 5px;

						i {
							font-size: 26px;
							vertical-align: middle;
							margin-right: 10px;
						}

						a {
							color: #ccc;
							font-size: 16px;
							&:hover {
								text-decoration: underline;
							}
						}

						span {
							color: #ccc;
						}
					}
				}
			}
		}

		
	}

	.scroll {
		position: absolute;
		left: 50%;
		bottom: 30px;
		transform: translateX(-50%);
		animation: slidedown 1s linear 0s infinite alternate;
		color: #fff;
		font-size: 14px;
		i {
			display: block;
			font-weight: bold;
			color: #fff;
			font-size: 30px;
			text-align: center;
		}
	}
}

.portfolio {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 100vh;
	background-color: #000;

	&.active {
		z-index: 2;
	}

	h1 {
		position: absolute;
		top: 50%;
		left: 150px;
		font-size: 80px;
		color: #fff;
		margin-top: -350px;
	}

	> ul > li {
		position: absolute;
		top: 50%;
		width: 1300px;
		height: 700px;
		margin-top: -250px;
		box-sizing: border-box;
		padding-top: 60px;

		&:nth-of-type(1) {
			left: 158px;
		}

		@for $i from 2 through 10 {
			&:nth-of-type(#{$i}) {
				left: 1600px * $i - 1500px;
			}
		}

		.portfolio_title {
			display: flex;
			justify-content: space-between;
			.description {
				strong {
					display: inline-block;
					color: #fff;
					font-size: 40px;
					margin-bottom: 20px;
				}

				p {
					font-size: 18px;
					color: #fff;
					line-height: 1.6;
					margin-bottom: 10px;
				}

				span {
					font-size: 14px;
					color: #aaa;
					display: block;
					margin-bottom: 20px;
				}

				a {
					display: block;
					border: 1px solid #fff;
					color: #fff;
					text-align: center;
					line-height: 40px;
					width: 100px;
					height: 40px;
					border-radius: 30px;
					margin-bottom: 30px;
					transition: all 0.5s;

					&:hover {
						color: #000;
						background-color: #fff;
					}
				}

				ul {
					padding-left: 25px;
					margin-bottom: 20px;
					li {
						list-style: disc;
						color: #fff;
						font-size: 18px;
						line-height: 2;
					}
				}
			}

			.video_box {
				width: 700px;
				height: 463px;
				overflow: hidden;
				display: flex;
				justify-content: center;
				border-radius: 5px;

				&.chgim {
					background-image: url(../img/chgim.JPG);
					background-repeat: no-repeat;
					background-size: cover;
				}

				&.dandydillway {
					background-image: url(../img/dandydillway.JPG);
					background-repeat: no-repeat;
					background-size: cover;
				}

				&.sd {
					background-image: url(../img/sd.JPG);
					background-repeat: no-repeat;
					background-size: cover;
				}

				&.kmp {
					background-image: url(../img/kmp.JPG);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				}

				&.VOGUE {
					background-image: url(../img/VOGUE.JPG);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: -60px;
				}

				video {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.back {
		position: absolute;
		bottom: 50px;
		right: 50px;
		display: block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid #fff;
		text-align: center;
		line-height: 50px;
		color: #fff;
		transition: all 0.5s;

		&:hover {
			color: #000;
			background-color: #fff;
		}
	}
}

.transition_effect {
	position: fixed;
	width: 100%;
	height: 200%;
	left: 0px;
	top: 100%;
	background-color: #333;
	transition: all 1.5s;
	z-index: 8;

	&.on {
		top: -200%;
	}
}

@keyframes slidedown {
	0% {
		bottom: 30px;
	}

	100% {
		bottom: 20px;
	}
}
